title: Stats Notebooks
description: >-
  A collection of Jupyter notebooks that demonstrate statistical concepts
  with Python code for data analysis and data science.
github_username:  cian-ps

# Build settings
theme: minima
plugins:
  - jekyll-feed

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - notebooks/
